In [7]:
import pandas as pd

goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df.describe(include="all")

              AAPL
count    13.000000
mean   1142.775385
std      76.556568
min    1003.630000
25%    1080.910000
50%    1140.990000
75%    1207.150000
max    1248.840000

In [1]:

import pandas as pd
from pathlib import Path
%matplotlib inline


bitstamp = pd.read_csv(
Path("coinbase.cvs",
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

SyntaxError: unexpected EOF while parsing (3794204229.py, line 10)

In [3]:
import pandas as pd
from pathlib import Path
%matplotlib inline



bitstamp = Path("bitstamp.csv")
sales_dataframe = pd.read_csv(bitstamp)
bitstamp.head()

AttributeError: 'PosixPath' object has no attribute 'head'

In [4]:
bitstamp.head()

AttributeError: 'PosixPath' object has no attribute 'head'

In [8]:
from pathlib import Path
import pandas as pd

file_name = Path("items.csv")

file_name

myfile = pd.read_csv(file_name)
myfile.isnull

<bound method DataFrame.isnull of    Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350>

In [9]:
myfile.head

<bound method NDFrame.head of    Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350>

In [12]:
myfile.tail()

   Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350

In [13]:
myfile.isnull().sum()

Item Number    0
Price          1
Quantity       0
dtype: int64

In [14]:
myfile.isnull().mean()

Item Number    0.000000
Price          0.333333
Quantity       0.000000
dtype: float64

In [23]:
import pandas as pd
import numpy as np

apple_df = pd.DataFrame({"AAPL": [72.27, np.nan, 74.39, np.nan, 75.94, 76.93,np.nan, 78.74, np.nan, 79.81, np.nan, 79.53, np.nan, 79.56, 79.49]})

apple_df.isnull().sum()

AAPL    6
dtype: int64

In [24]:
myfile.dropna()

   Item Number  Price   Quantity
0         2468    2.99       250
2         9753    3.47       350

In [25]:
myfile

   Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350

In [29]:
myfile.loc[:, "Price"] = myfile.loc[:, "Price"].fillna(0)
myfile.isnull().sum()

KeyError: 'Price'